.banner{
    background: linear-gradient(rgba(0,0,0,0.5),#009688), url("../Barber_Shop_img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner .logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner .banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner .banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner .banner-text p{
    font-size: 20px;
    font-style: italic;
}

.banner .banner-btn{
    margin: 70px auto 0;
}

.banner .banner-btn a{
    width: 150px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 0.5px solid #fff;
}