.footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}

.footer .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}

.footer .footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer-row .footer-left, .footer .footer-row .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer .footer-row .footer-right{
    text-align: right;
}

.footer .footer-row h1{
    margin: 10px 0;
}

.footer .footer-row p{
    line-height: 35px;
}