@media screen and (max-width: 770px){
    .banner .banner-text h1{
        font-size: 44px;
    }

    .banner .banner-btn a{
        display: block;
        margin: 20px auto;
    }

    .feature .title-text h1{
        font-size: 35px;
    }

    .feature .features{
        flex-basis: 100%;
    }

    .feature .features-img{
        flex-basis: 100%;
    }

    .feature .features-img img{
        width: 100%;
    }
}
