@media screen and (max-width: 770px){
    .banner .banner-text h1{
        font-size: 44px;
    }

    .banner .banner-btn a{
        display: block;
        margin: 20px auto;
    }

    .title-text h1{
        font-size: 35px;
    }

    .feature .features{
        flex-basis: 100%;
    }

    .feature .features-img{
        flex-basis: 100%;
    }

    .feature .features-img img{
        width: 100%;
    }

    .service .service-box .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .service .service-box .single-service .service-desc p{
        font-size: 12px;
    }

    .service .service-box .single-service .service-desc hr{
        margin: 5px auto;
    }

    .service .service-box .single-service:hover .service-desc{
        bottom: 25% !important;
    }

    .testimonial .testimonial-row .testimonial-col{
        flex-basis: 100%;
    }
}
