.service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service .service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.service .service-box .single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.service .service-box .single-service img{
    width: 100%;
    border-radius: 7px;
}

.service .service-box .single-service .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}

.service .service-box .single-service:hover .overlay{
    opacity: 1;
}

.service .service-box .single-service .service-desc{
    width: 80%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%)
}

.service .service-box .single-service .service-desc hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service .service-box .single-service .service-desc p{
    
}