.testimonial{
    width: 100%;
    padding: 70px 0;
}

.testimonial .testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial .testimonial-row .testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
}

.testimonial .testimonial-row .testimonial-col p{
    font-size: 14px;
}