.testimonial{
    width: 100%;
    padding: 70px 0;
}

.testimonial .testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
